<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">
    <button>Create</button>
</a>
<form th:action="@{/search}">
    <input type="text" name="name">
    <button type="submit">search</button>
</form>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${studentList}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td>
            <a th:href="@{/{id}/edit(id=${student.getId()})}">Edit</a>
            <a th:href="@{/{id}/delete(id=${student.getId()})}">Delete</a>
            <a th:href="@{/{id}/detail(id=${student.getId()})}">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>