<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/customer/save}" th:object="${customer}" method="post">
    <table class="table table-striped table-hover table-bordered">
        <input type="hidden" name="id" size="45" th:field="*{id}">
        <tr>
            <th>Name:</th>
            <td>
                <input type="text" th:field="*{name}" required>
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </td>
        </tr>
        <tr>
            <th>Customer Type:</th>
            <td>
                <select id="type" th:field="*{customerType.id}">
                    <option th:each="customerType: ${customerTypeList}"
                            th:text="${customerType.name}"  th:value="${customerType.id}" >
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Birthday:</th>
            <td>
                <input type="date" size="45" th:field="*{date}" required>
            </td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>
                <select th:field="*{gender}">
                    <option th:value="true">Nam</option>
                    <option th:value="false">Nữ</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Id Card:</th>
            <td>
                <input type="text" th:field="*{idCard}" required>
            </td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>
                <input type="text" th:field="*{phone}" required>
            </td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>
                <input type="text" th:field="*{email}" required>
            </td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>
                City: <select th:field="*{city}" >
                <option value="" selected="selected" th:text="${customer.city}"></option>
            </select>
                <br><br>
                District: <select th:field="*{district}">
                <option value="" selected="selected" th:text="${customer.district}"></option>
            </select>
                <br><br>
                Ward: <select th:field="*{ward}">
                <option value="" selected="selected" th:text="${customer.ward}"></option>
            </select>
            </td>
        </tr>
        <tr>
            <th>Picture:</th>
            <td>
                <input id="file" type="file" th:field="*{picture}" style="display: none">
                <img id="img" type="file" th:src="@{'/'+${customer.picture}}" height="100px" width="100px" th:data-id="${customer.id}"
                         onclick="clickImg()">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <!--                                    <input type="submit" value="Save" class="btn btn-success text-white">-->
                <button id="save" type="submit" class="btn btn-success text-white">Save</button>
            </td>
        </tr>
    </table>
</form>

<!--thay đổi avatar-->

<script>
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    function clickImg() {
        $('#file').click()
    }
    $("#file").on('change', function(){
        readURL(this);
    });
</script>
</body>
</html>