<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="/css/default.css" type="text/css">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" type="text/css" href="/bootstrap413/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/datatables/css/dataTables.bootstrap4.min.css">
<body>
<div id="wrapper" class="container-fluid">
    <div id="header-wrapper" th:fragment="header">
        <div id="header">
            <div id="logo" >
                <img src="../home/logo.PNG">
            </div>
            <div id="name1">
                <h1>Mai Nam Khánh - C0920G1</h1>
            </div>
        </div>
    </div>
    <div id="menu-wrapper" class="sticky-top" th:fragment="menu">
        <div id="menu" >
            <ul>
                <li class="current_page_item"><a href="/home">Homepage</a></li>
                <li class="current_page_item"><a href="/service">Service</a></li>
                <li class="current_page_item"><a href="/employee">Employee</a></li>
                <li class="current_page_item"><a href="/contract">Contract</a></li>
                <li class="current_page_item"><a href="/contractDetail">Contact Detail</a></li>
            </ul>
        </div>
    </div>

    <h1>List All Customer</h1>
    <button class="btn btn-success" data-toggle="modal" onclick="create()" >Add New Customer</button>
    <table id="tableStudent" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>ID Card</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Picture</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.date.date}+'/'+${customer.date.month+1}+'/'+${customer.date.year+1900}"></td>
            <td th:switch="${customer.gender}">
                <span th:case="true">Nam</span>
                <span th:case="false">Nữ</span>
            </td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="'P. '+${customer.ward}+' ,Q. '+${customer.district}+' ,TP. '+${customer.city}"></td>
            <td><img th:src="@{'/'+${customer.picture}}" height="100px" width="100px"></td>
            <td>
                <button class=" btn btn-primary text-white" onclick="edit(this.getAttribute('data-id'))" th:data-id="${customer.id}">Edit</button>
                <button class=" btn btn-danger text-white" data-toggle="modal" th:data-target="'#'+${customer.id}">Delete</button>
                <button class=" btn btn-info text-white" onclick="view(this.getAttribute('data-id'))" th:data-id="${customer.id}">View</button>
            </td>
            <div th:id="${customer.id}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure delete <span th:text="${customer.id}"></span></p>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-no" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a th:href="@{/customer/{id}/delete(id=${customer.id})}">
                                <button id="btn-ok" type="button" class="btn-ok btn btn-primary">
                                    Delete
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
    <div id="successModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4 th:text="${message}"></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-view">
                    Body
                </div>
            </div>
        </div>
    </div>


    <!--    <div class="pagination-div">-->
<!--    <span th:if="${customers.hasPrevious()}">-->
<!--        <a th:href="@{'/customer'(page=${customers.number - 1},size=${customers.size})}">Previous</a>-->
<!--    </span>-->
<!--        <th:block th:each="i: ${#numbers.sequence(0, customers.totalPages - 1)}">-->
<!--            <span th:if="${customers.number == i}" class="selected">[[${i}+1]]</span>-->
<!--            <span th:unless="${customers.number == i}">-->
<!--             <a th:href="@{'/customer'(page=${i},size=${customers.size})}">[[${i}+1]]</a>-->
<!--        </span>-->
<!--        </th:block>-->
<!--        <span th:if="${customers.hasNext()}">-->
<!--        <a th:href="@{'/customer'(page=${customers.number+1},size=${customers.size})}">Next</a>-->
<!--    </span>-->
<!--    </div>-->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<!--<script src="/jquery/jquery-3.5.1.min.js"></script>-->
<script src="/datatables/js/jquery.dataTables.min.js"></script>
<script src="/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tableStudent').dataTable({
            "lengthChange": false,
            "pageLength": 5
        });
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    let status = /*[[${status}]]*/ 'default';
        if(status === "create"){
            $('#successModal').modal('show');
    }else if(status === "delete"){
        $('#successModal').modal('show');
    }else if(status === "error"){
            $('#addNew').modal('show');
        }
    function view (id) {
        $.ajax({
            type: "GET",
            url: "/customer/view/" + id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-view").html(data);
                $("#modelView").modal('show');
            }
        });
    }
    function edit (id) {
        $.ajax({
            type: "GET",
            url: "/customer/edit/" + id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-view").html(data);
                $("#modelView").modal('show');
            }
        });
    }
    function create () {
        $.ajax({
            type: "GET",
            url: "/customer/create/",
            dataType: "HTML",
            success: function (data) {
                $(".modal-view").html(data);
                $("#modelView").modal('show');
            }
        });
    }

    /*]]>*/
</script>

</body>
</html>