<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/customer/searchByType}">
    <input type="text" name="id">
</form>
<h1>List All Customer</h1>
<a th:href="@{/customer/create}">
    <button>Add New Customer</button>
</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>ID Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Picture</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customerList}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.customerType.name}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.date}"></td>
        <td th:switch="${customer.gender}">
            <span th:case="true">Nam</span>
            <span th:case="false">Nữ</span>
        </td>
        <td th:text="${customer.idCard}"></td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td><img th:src="@{'/'+${customer.picture}}" height="100px" width="100px"></td>
        <td>
            <a th:href="@{/customer/{id}/edit(id=${customer.id})}"><button>Edit</button></a>
            <a th:href="@{/customer/{id}/delete(id=${customer.id})}"><button>Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/customerList'(page=${customerList.number - 1})}" th:if="${customerList.hasPrevious()}">Previous</a>
    <span th:text="${customerList.number + 1}"></span>/<span th:text="${customerList.totalPages}"></span>
    <a th:href="@{'/customerList'(page=${customerList.number + 1})}" th:if="${customerList.hasNext()}">Next</a>
</div>
</body>
</html>